<div class="container py-5">
    <div class="row g-4">
        <div class="col-md-4 mx-auto">
            <div class="bg-white rounded shadow-sm p-4 text-center">
                <div class="mb-3 pb-3 border-bottom">
                    <img class="m-2" src="../../../assets/logo/Map Pin.png" alt="Map Pin" />
                    <p class="mt-2 mb-0 text-black">35 Thanh Hoa, Hoa Xuan, Cam Le, Da Nang City</p>
                </div>
                <div class="mb-3 pb-3 border-bottom">
                    <img class="m-2" src="../../../assets/logo/Email.png" alt="Email" />
                    <p class="mt-2 mb-0">
                        <a href="mailto:dangduynguyen03@gmail.com" class="text-decoration-none text-black">
                            {{'dangduynguyen03@gmail.com' }}
                        </a>
                    </p>
                </div>
                <div class="mb-0">
                    <img class="m-2" src="../../../assets/logo/PhoneCall.png" alt="PhoneCall" />
                    <p class="mt-2 mb-0">
                        <a href="tel:(984)616-375" class="text-decoration-none text-black">
                            (984) 616-375
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="border-0 rounded p-4 bg-white shadow-sm">
                <h3 class="fw-bold mb-3">Just Say Hello!</h3>
                <p>Do you fancy saying hi to me or you want to get started with your project and you need my help? Feel
                    free to contact me.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Template Cookie">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="dangduynguyen03@gmail.com">
                        </div>
                    </div>
                    <div class="mt-3">
                        <input type="text" class="form-control" placeholder="Hello!">
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <input type="text" class="form-control border-top-0" placeholder="Subjects">
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg rounded-pill shadow-sm">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="map-section">
    <div class="container-fluid p-0">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10847.212506758031!2d108.20817050110736!3d16.00993570048032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a182f305449%3A0x5a4ed90c57e6d71!2zMzUgxJAuIFRoYW5oIEjDs2EsIEhvw6AgWHXDom4sIEPhuqltIEzhu4csIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1737104066114!5m2!1svi!2s"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>