<div class="container-xxl d-flex justify-content-center my-5 py-5">
    <div class="card shadow rounded col-5 py-3">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
            <div class="card-body">
                <h1 class="ps-5 pe-5 col-sm-12 text-center">Sign in</h1>
                <div class="container">
                    <div class="mb-3">
                        <label i18n for="phoneNumberOrEmailInput" class="form-label">Email or Phone Number</label>
                        <input i18n-placeholder type="email" class="form-control" id="phoneNumberOrEmailInput"
                            name="phoneNumberOrEmail" formControlName="phoneNumberOrEmail"
                            placeholder="Email or Phone Number">
                    </div>

                    <div class="mb-3">
                        <label i18n for="passwordInput" class="form-label">Password</label>
                        <input i18n-placeholder type="password" class="form-control" id="passwordInput" name="password"
                            formControlName="password" placeholder="Password">
                    </div>

                    <div class="mb-3">
                        <select class="form-control" id="roleSelect" formControlName="role" [hidden]="true">
                            <option value="" disabled selected>Login Permissions</option>
                            <option *ngFor="let role of roles" [value]="role.name">
                                {{ role.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="container">
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label i18n class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <a i18n class="text-decoration-none" style="color: #212529;" href="#">
                                Forget password
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <div class="d-grid"><button class="btn btn-success" type="submit" >Login</button></div>
                </div>
                <div class="container d-flex justify-content-center">
                    <p i18n class="mb-0">Don't have account?
                        <a class="register-link text-decoration-none fw-bold" style=" color: #212529; "
                            (click)="createAccount()" href="register">Register</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>