<footer class="newsletter-section">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-4 text-start">
            <h5 class="newsletter-title">Subscribe to our Newsletter</h5>
            <p class="newsletter-description">Pellentesque eu nibh eget mauris congue mattis matt.</p>
        </div>

        <div class="col-md-5">
            <form class="d-flex">
                <input type="email" class="form-control email-input" placeholder="Your email address" />
                <button type="submit" class="btn newsletter-button">Subscribe</button>
            </form>
        </div>

        <div class="col-md-3 text-end">
            <ul class="list-unstyled d-flex social-icons justify-content-end mb-0 icon-padding">
                <li class="me-3">
                    <a href="https://web.facebook.com/" target="_blank" class="fa-brands fa-facebook"></a>
                </li>
                <li class="me-3">
                    <a href="https://www.twitter.com" target="_blank" class="fa-brands fa-twitter"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank" class="fa-brands fa-instagram"></a>
                </li>
            </ul>
        </div>
        
    </div>
</footer>



<footer class="bg-dark text-light pt-5 pb-4">
    <div class="row">

        <div class="col-md-4 mb-3 social-texts">
            <div class="col-md-4 newsletter-logo d-flex align-items-center">
                <a class="nav-link" [ngClass]="{ 'active': activeNavItem === 0 }" (click)="setActiveNavItem(0)"
                    routerLink="/">
                    <img src="../../../assets/logo/Logo2.png" alt="logo shopapp">
                </a>
            </div>
            <p class="small">Morbi cursus porttitor enim lobortis molestie.
                Duis gravida turpis dui, eget bibendum magna congue nec.</p>
            <p>
                <a href="tel:(984)616-375">(984)616-375</a> or
                <a href="mailto:dangduynguyen03@gmail.com">{{
                    'dangduynguyen03@gmail.com' }}</a>
            </p>
        </div>

        <div class="col-6 col-md-2 mb-3 social-texts">
            <h5>My Account</h5>
            <ul class="nav flex-column ">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">My Accoun</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Order History</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Shopping Cart</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Wishlist</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3 social-texts">
            <h5>Helps</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Contact</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Faqs</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Terms & Conditon</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3 social-texts">
            <h5>Proxy</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Shop</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Product</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Track Order</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3 social-texts">
            <h5>Category</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Fruit & Vegetabbles</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Meat & Fish</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Bread & Bakery</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Beauty & Health</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-4 my-4 border-top">
        <div class="flex-grow-1 text-start custom-padding">
            ANDY SHOPP &copy;2024. All Rights Resverved ❤️
        </div>

        <div class="d-flex justify-content-center justify-content-sm-end payment-logos logo-padding">
            <a class="nav-link me-3 clickable-logo" [ngClass]="{ 'active': activeNavItem === 1 }"
                (click)="setActiveNavItem(1)" routerLink="/">
                <img src="../../../assets/logo/ApplePay2x.png" alt="ApplePay">
            </a>
            <a class="nav-link me-3 clickable-logo" [ngClass]="{ 'active': activeNavItem === 2 }"
                (click)="setActiveNavItem(2)" routerLink="/">
                <img src="../../../assets/logo/Visa2x.png" alt="Visa">
            </a>
            <a class="nav-link me-3 clickable-logo" [ngClass]="{ 'active': activeNavItem === 3 }"
                (click)="setActiveNavItem(3)" routerLink="/">
                <img src="../../../assets/logo/Discover2x.png" alt="Discover">
            </a>
            <a class="nav-link clickable-logo" [ngClass]="{ 'active': activeNavItem === 4 }"
                (click)="setActiveNavItem(4)" routerLink="/">
                <img src="../../../assets/logo/Mastercard2x.png" alt="Mastercard">
            </a>
        </div>

    </div>
</footer>