@import '../../styles/shared-styles.scss';

.container {
    color: $shopapp-title-color;
    min-height: calc(100vh - 140px); /* Trừ chiều cao của header và footer */
    padding: 100px;
}

.intro-section {
    text-align: center;
    color: $shopapp-title-color;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
    background-color: $shopapp-background-color;
    margin-right: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    color: $shopapp-title-color;
}

.search-input {
    width: 300px;
    background-color: $shopapp-background-color;
    margin-right: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    color: $shopapp-title-color;
}

.form-control {
    background-color: transparent;
    color: $shopapp-title-color;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.5);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.5);
}

.product-item {
    background-color: $shopapp-background-color;
    border: 1px solid $shopapp-title-color;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: $shopapp-title-color;
}

.product-description {
    color: $shopapp-title-color;
}

.product-warranty {
    color: $shopapp-tint-color;
}

.product-price {
    color: $shopapp-title-color;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid $shopapp-title-color;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color: $shopapp-color !important;
    color: $shopapp-title-color;
    border-color: $shopapp-color !important;
}

.btn-primary {
    background-color: $shopapp-color;
    border-color: $shopapp-color;    
}

.btn.btn-primary {
    margin-left: 10px;
}
  