<div class="container-xxl d-flex justify-content-center my-5 py-5">
  <div class="container d-flex flex-wrap justify-content-between">
    <!-- Card 1 -->
    <div class="col-6 p-2 d-flex">
      <div class="card w-100">
        <div class="card-body text-center">
          <img class="rounded-circle mx-auto d-block mb-2" width="120" height="120"
            src="https://play-lh.googleusercontent.com/7Ak4Ye7wNUtheIvSKnVgGL_OIZWjGPZNV6TP_3XLxHC-sDHLSE45aDg41dFNmL5COA" />
          <h5>Dianne Russell</h5>
          <p>Customer</p>
          <a class="color-success text-decoration-none" href="#">Edit Profile</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-6 p-2 d-flex">
      <div class="card w-100">
        <div class="card-body d-flex flex-column justify-content-evenly">
          <h6 class="py-2">Billing Address</h6>
          <h5 class="py-2">Dianne Russell</h5>
          <p class="mb-2">4140 Parker Rd. Allentown, New Mexico 31134</p>
          <p class="mb-2">dainne.ressell&#64;gmail.com</p>
          <p class="mb-2">(671) 555-0110</p>
          <a class="color-success text-decoration-none" href="#">Edit Address</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 p-2 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <h4 class="p-2">Recent order history</h4>
          <table class="table">
            <thead>
              <tr>
                <th>ORDER ID</th>
                <th>DATE</th>
                <th>TOTAL</th>
                <th>STATUS</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
              <tr>
                <td>#738</td>
                <td>20-12-2024</td>
                <td>$135.00</td>
                <td>Pending</td>
                <td>...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>