<div class="d-flex flex-column align-items-start">
    <h3 class="p-5">New Costume</h3>
    <div class="d-flex flex-wrap justify-content-center mt-5 mb-5" style="gap: 2rem">
        <product-item *ngFor="let product of newerProducts" [imageUrl]="'http://10.147.19.99:9000/' + product.thumbnail"
            [name]="product.name" [price]="((product.price ?? 0) | number:'1.0-0') + ''">
        </product-item>
    </div>
</div>
<div>
    <h3>Last Pick</h3>
    <div class="d-flex flex-wrap justify-content-center mt-5 mb-5" style="gap: 2rem">
        <product-item *ngFor="let product of lastProducts" [imageUrl]="'http://10.147.19.99:9000/' + product.thumbnail"
            [name]="product.name" [price]="((product.price ?? 0) | number:'1.0-0') + ''">
        </product-item>
    </div>
</div>
<div>
    <h3>Deal for your</h3>
    <div class="d-flex flex-wrap justify-content-center mt-5 mb-5" style="gap: 2rem">
        <product-item *ngFor="let product of randomProducts"
            [imageUrl]="'http://10.147.19.99:9000/' + product.thumbnail" [name]="product.name"
            [price]="((product.price ?? 0) | number:'1.0-0') + ''">
        </product-item>
    </div>
</div>


