<app-header></app-header>

<div class="container">
    <div class="error-content">
        <div class="error-image">
            <img src="../../../assets/logo/Illustration1x.png" alt="404 Illustration">
        </div>
        <h1>Oops! page not found</h1>
        <p>
            Ut consequat ac tortor eu vehicula. Aenean accumsan purus eros. <br>
            Maecenas sagittis tortor at metus mollis
        </p>
        <a href="" class="btn">Back to Home</a>
    </div>
</div>

<app-footer></app-footer>