<header class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1 class="fw-bold mb-4">100% Trusted <br> Organic Food Store</h1>
      <p>We provide high-quality organic food directly from the farm to your doorstep. Enjoy the freshest and healthiest
        choices!</p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/Organic.png" alt="Organic Image" class="img-fluid rounded">
    </div>
  </div>
</header>


<section class="bg-white py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="../../../assets/images/Vegetable.png" alt="Vegetables Image" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <h1 class="fw-bold mb-4">100% Trusted <br> Organic Food Store</h1>
        <p class="mb-4 text-muted">Pellentesque a ante vulputate leo porttitor luctus sed eget eros. Nulla et rhoncus
          neque. Duis non diam eget est luctus tincidunt a at mi.</p>
        <div class="row g-3">

          <div class="col-6">
            <ul class="list-unstyled">
              <li class="mb-3">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                <strong>100% Organic food</strong>
                <p class="text-muted mb-0">100% healthy & fresh food.</p>
              </li>
              <li class="mb-3">
                <i class="bi bi-people-fill text-success me-2"></i>
                <strong>Customer Feedback</strong>
                <p class="text-muted mb-0">Our happy customer.</p>
              </li>
              <li>
                <i class="bi bi-truck text-success me-2"></i>
                <strong>Free Shipping</strong>
                <p class="text-muted mb-0">Free shipping with discount.</p>
              </li>
            </ul>
          </div>

          <div class="col-6">
            <ul class="list-unstyled">
              <li class="mb-3">
                <i class="bi bi-headset text-success me-2"></i>
                <strong>Great Support 24/7</strong>
                <p class="text-muted mb-0">Instant access to contact.</p>
              </li>
              <li class="mb-3">
                <i class="bi bi-lock-fill text-success me-2"></i>
                <strong>100% Secure Payment</strong>
                <p class="text-muted mb-0">We ensure your money is safe.</p>
              </li>
              <li>
                <i class="bi bi-flower3 text-success me-2"></i>
                <strong>100% Organic Food</strong>
                <p class="text-muted mb-0">100% healthy & fresh food.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class=" py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="fw-bold mb-4">We Delivered, <br> You Enjoy Your Order</h1>
        <p class="mb-4">Get the best organic food delivered right to your home. Healthy living starts with healthy food
          choices!</p>
        <ul class="list-unstyled mb-4">
          <li class="mb-2"><i class="text-success me-2 bi bi-check-circle"></i> ✔ Sed in metus pellentesque.</li>
          <li class="mb-2"><i class="text-success me-2 bi bi-check-circle"></i> ✔ Fusce et ex commodo, aliquam nulla
            efficitur, tempus lorem.</li>
          <li><i class="text-success me-2 bi bi-check-circle"></i> ✔ Maecenas ut nunc fringilla erat varius.</li>
        </ul>
        <a href="" class="btn btn-success btn-lg">Shop Now →</a>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/Ship.png" alt="Shipper Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
</section>

<section class="team-section">
  <div class="container">
    <div class="section-heading text-center mb-5">
      <h2>Our Awesome Team</h2>
      <p>Pellentesque a ante vulputate leo porttitor luctus sed eget eros.</p>
    </div>
    <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row text-center">
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Tan Bui</h5>
                <p>CEO & Founder</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Andy Nguyen</h5>
                <p>President</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Dung Phan</h5>
                <p>Farmer</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Ly Cong</h5>
                <p>Farmer</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row text-center">
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Ngan Nguyen</h5>
                <p>Senior Farmer Manager</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Kha Thieu</h5>
                <p>Senior Farmer Manager</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Hien Nguyen</h5>
                <p>Senior Farmer Manager</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <img src="../../../assets/images/Image_profile.png" alt="Shipper Image">
                <h5>Lieu Nguyen</h5>
                <p>Senior Farmer Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>