<div class="container-fluid py-4 px-md-5 px-3" style="background-color: #e6f7f6;">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h5 class="fw-bold">Subscribe our Newsletter</h5>
                <p class="text-muted">Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus
                    imperdiet elit eu magna.</p>
            </div>

            <div class="col-md-5">
                <div class="input-group">
                    <input type="email" class="form-control rounded-pill px-3" placeholder="Your email address">
                    <button class="btn btn-success rounded-pill px-4">Subscribe</button>
                </div>
            </div>

            <div class="col-md-3 text-md-end mt-3 mt-md-0">
                <ul class="list-unstyled d-flex social-icons mb-2 mb-sm-0">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                        rel="stylesheet" />
                    <li class="me-3">
                        <a href="https://www.instagram.com" target="_blank" class="fa-brands fa-instagram"
                            style="font-size: 24px;"></a>
                    </li>
                    <li class="me-3">
                        <a href="https://web.facebook.com/" target="_blank" class="fa-brands fa-facebook"
                            style="font-size: 24px;"></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com" target="_blank" class="fa-brands fa-twitter"
                            style="font-size: 24px;"></a>
                    </li>
                </ul>
            </div>
        </div>
</div>

<footer class="bg-dark text-light container-fluid py-4 px-md-5 px-3 ">
        <div class="row align-items-center">

            <div class="col-md-4 mb-4 social-texts">
                <div class="col-md-5 newsletter-logo d-flex align-items-center">
                    <a class="nav-link text-white" [ngClass]="{ 'active': activeNavItem === 0 }"
                        (click)="setActiveNavItem(0)" routerLink="/">
                        <img src="../../../assets/logo/Logo1.png" alt="logo shopapp">
                    </a>
                </div>
                <p class="small">Morbi cursus porttitor enim lobortis molestie.
                    Duis gravida turpis dui, eget bibendum magna congue nec.</p>
                <p>
                    <a href="tel:(984)616-375"><i class="nav-link fas fa-phone me-2"></i>(984)616-375</a>
                    <span class="mx-3">Or</span>
                    <a href="mailto:dangduynguyen03@gmail.com"><i class="fas fa-envelope me-2"></i>{{
                        'dangduynguyen@gmail.com' }}</a>
                </p>
            </div>

            <div class="col-6 col-md-2 mb-3 social-texts">
                <h5>My Account</h5>
                <ul class="nav flex-column ">
                    <li class="nav-item mb-2">
                        <a href="user-profile" class="nav-link p-0 text-body-secondary">My Account</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Order History</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Shopping Cart</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Wishlist</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3 social-texts">
                <h5>Helps</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="contact-us" class="nav-link p-0 text-body-secondary">Contact</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="login" class="nav-link p-0 text-body-secondary">Faqs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Terms & Conditon</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a>
                    </li>
                </ul>
            </div>


            <div class="col-6 col-md-2 mb-3 social-texts">
                <h5>Proxy</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="about-us" class="nav-link p-0 text-body-secondary">About</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Shop</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Product</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Track Order</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3 social-texts">
                <h5>Categories</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Categories</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Pants & Shirt</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Product</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary">Track Order</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-3 my-3 border-top">
            <div class="flex-grow-1 d-flex justify-content-start align-items-center text-start">
                Copyright &copy;2025 ECOBAZAR. We are happy to help you ❤️
            </div>

            <div class="col-md-6 text-center text-md-end payment-logos">
                <a routerLink="/">
                    <img src="../../../assets/logo/ApplePay.png" alt="logo shopapp">
                </a>
                <a routerLink="/">
                    <img src="../../../assets/logo/Visa.png" alt="logo shopapp">
                </a>
                <a routerLink="/">
                    <img src="../../../assets/logo/Discover.png" alt="logo shopapp">
                </a>
                <a routerLink="/">
                    <img src="../../../assets/logo/Mastercard.png" alt="logo shopapp">
                </a>
            </div>

        </div>
</footer>